{{ define "main" }}

{{ partial "page-title.html" . }}

<section id="2" class="section pricing-table {{.Section}} ">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>{{ .Params.intro_titre | markdownify  }}</h2>
            <p>{{ .Params.intro_texte | markdownify  }}</p>
          </div>

      {{ if .Params.offres}}
      {{ range .Params.offres}}
      <div class="my-4 col-lg-3 col-md-6 col-xs-12">
          <div class="pricing-item text-center h-100 d-flex flex-column align-items-center">
            <div class="price-title">
              <h3>{{ .pack  }}</h3>
              <p>{{ .description | markdownify }}</p>
            </div>
            <a class="btn btn-small mt-auto text-center" href='{{ with $.Site.GetPage "contact"}}{{ .Permalink}}{{ end }}'>Contact</a>
          </div>
        </div>
        {{ end }}
        {{ end }}

        <div class="col-lg-12">
            {{ .Params.conditions | markdownify  }}
          </div>
    </div>
  </div>
</section>

{{ end }}